---
import Section from './Section.astro';
---

<Section>
    <div class="flex justify-between">
        <style>
            @keyframes psychedelic {
                0% {
                    transform: scale(1) rotate(0deg);
                    color: #FF0000;
                }
                25% {
                    transform: scale(1.1) rotate(10deg);
                    color: #FFFF00;
                }
                50% {
                    transform: scale(1.2) rotate(-10deg);
                    color: #FF00FF;
                }
                75% {
                    transform: scale(1.1) rotate(10deg);
                    color: #0000FF;
                }
                100% {
                    transform: scale(1) rotate(0deg);
                    color: #00FF00;
                }
            }
            
            .pixel-font {
                font-family: 'Press Start 2P', cursive;
                font-size: 9rem; /* Tamaño para desktop */
            }       
            
            .psych-text {
                display: inline-block;
                animation: psychedelic 5s infinite linear;
            }

            nav ul {
                display: flex;
                list-style-type: none; /* Asegúrate de que no haya marcadores de lista */
                padding: 0; /* Elimina el padding por defecto */
            }
        
            nav li {
                margin-right: 10px; /* Ajusta según sea necesario */
            }
        
            /* Media query para pantallas menores de 768px */
            @media (max-width: 768px) {
                .pixel-font {
                    font-size: 3rem; /* Tamaño reducido para pantallas móviles */
                }
          
                nav ul {
                    display: block; /* Cambia a un layout de bloque para que los enlaces se apilen verticalmente */
                }

                /* Asegúrate de que los enlaces son visibles */
                nav ul {
                    display: block;
                }
            }
        </style>
        
        <div class="text-3xl font-bold">
            <a href="/" class="block text-left">
                <span class="text-9xl pixel-font psych-text">POWER UP!</span>
            </a>
        </div>
        
        
        <div class="flex items-center">
            <nav>
                <ul class="hidden flex-row sm:flex">
                    <li><a href="/tags" class="mr-3 hover:text-orange-600">TAGS</a></li>
                    <li><a href="/" class="hover:text-orange-600">BLOG</a></li>
                </ul>
            </nav>
            <div class="ml-3 flex flex-col justify-center">
                <input type="checkbox" id="light-switch" class="light-switch sr-only" />
                <label class="tada relative cursor-pointer p-2" for="light-switch">
                    <svg class="dark:hidden" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                        <!-- Icon paths here -->
                    </svg>
                    <svg class="hidden dark:block" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                        <!-- Icon paths here -->
                    </svg>
                    <span class="sr-only">Switch to light / dark version</span>
                </label>
            </div>
        </div>
    </div>
</Section>

<script>
    const lightSwitches = document.querySelectorAll('.light-switch');
    if (lightSwitches.length > 0) {
        lightSwitches.forEach((lightSwitch) => {
            // Asegúrate de que lightSwitch sea tratado como HTMLInputElement
            const input = lightSwitch as HTMLInputElement;

            if (localStorage.getItem('dark-mode') === 'true') {
                input.checked = true;
            }
            input.addEventListener('click', () => {
                const isChecked = input.checked;
                lightSwitches.forEach((otherSwitch) => {
                    const otherInput = otherSwitch as HTMLInputElement;
                    if (otherInput !== input) {
                        otherInput.checked = isChecked;
                    }
                });
                document.documentElement.classList.toggle('dark', isChecked);
                localStorage.setItem('dark-mode', isChecked ? 'true' : 'false');
            });
        });
    }
</script>
